{{>header}}
{{{eliminarEstudiante idEst}}}


<h3>pagina de estudiantes</h3>

<form method="post" action="/eliminar">
		<div class="row">
			<div class="col-3">
		    <label for="staticEmail2">Curso</label>
		    <input type="text" class="form-control" id="idCurso" value="1" name="idCur" size="5">
		    <button type="submit" class="btn btn-dark">Mostrar</button>
			</div>
	    </div>
				<div class="container-md">
				<table class="table">
				  <thead class="thead-dark">
				    <tr>
				      <th scope="col">Cedula</th>
				      <th scope="col">Nombre</th>
				      <th scope="col">Email</th>
				      <th scope="col"></th>
				    </tr>
				  </thead>
				  <tbody>
				  	{{idC}}
				    {{{verEstCur idC}}}
				  </tbody>
				</table>
				</div>
		<br>
</form>

{{>footer}}